@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
}

.hidden {
  display: none !important;
}

.width0 {
  width: 0% !important;
}